.ganttTable {
  display: table;
  border-bottom: #e6e4e4 1px solid;
  border-top: #e6e4e4 1px solid;
  border-left: #e6e4e4 1px solid;
}

.ganttTable_Header {
  display: table-row;
  list-style: none;
}

.ganttTable_HeaderSeparator {
  border-right: 1px solid rgb(196, 196, 196);
  opacity: 1;
  margin-left: -2px;
}

.ganttTable_HeaderItem {
  display: table-cell;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

.listaTareasTableRow {
  display: flex;
  align-items: center;
  height: var(--row-height); /* Usa la variable inyectada */
  cursor: pointer;
}

.listaTareasTableRow.selectedRow {
  background-color: #f0f0f0; /* O el color de selección que prefieras */
}

.listaTareasCell {
  box-sizing: border-box;
  flex: 0 0 var(--row-width); /* Aplica el ancho dinámico de forma eficiente */
  min-width: var(--row-width);
  max-width: var(--row-width);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
